.htmlconfig {
    
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 649px;
    overflow: hidden;
    
}


.card-imghtml {
    width: 200px;
    padding: 20px;
    z-index: 2;
}

.imghtmlconfig {
    display: relative;
    z-index: 2;
}

.htmlconfig::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200%;
    background: linear-gradient(180deg, #fb6a3d, #fd9b41);

    animation: animate 3s linear infinite;
}

.htmlconfig::after {
    content: "";
    position: absolute;
    background-color: #fff;
    inset: 5px;
    border-radius: inherit;

}

.htmlconfig svg {
    position: relative;
    
    width: 350px;
}

@keyframes animate {
    100%{
        transform: rotate(360deg);
    }
}

/* CSS */

.cssconfig {
    
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 649px;
    overflow: hidden;

    
}

.card-imgcss {
    max-width: 200px;
    max-height: 280px;
    padding: 28px;
    z-index: 2;
}

.imgcssconfig {
    display: relative;
    z-index: 2;
}

.cssconfig::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200%;
    background: linear-gradient(180deg, #421cdd, #402b98);

    animation: animate 3s linear infinite;
}

.cssconfig::after {
    content: "";
    position: absolute;
    background-color: #fff;
    inset: 5px;
    border-radius: inherit;

}

.cssconfig svg {
    position: relative;
    
    width: 350px;
}

/* JS */

.jsconfig {
    
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 649px;
    overflow: hidden;

    
}

.card-imgjs {
    max-width: 200px;
    max-height: 280px;
    padding: 28px;
    z-index: 2;
}

.imgjsconfig {
    display: relative;
    z-index: 2;
}

.jsconfig::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200%;
    background: linear-gradient(180deg, #c8db18, #e8e410db);

    animation: animate 3s linear infinite;
}

.jsconfig::after {
    content: "";
    position: absolute;
    background-color: #fff;
    inset: 5px;
    border-radius: inherit;

}

.jsconfig svg {
    position: relative;
    
    width: 350px;
}

/* Angular */

.ngconfig {
    
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 649px;
    overflow: hidden;

    
}

.card-imgng {
    max-width: 200px;
    max-height: 280px;
    padding: 28px;
    z-index: 2;
}

.imgngconfig {
    display: relative;
    z-index: 2;
}

.ngconfig::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200%;
    background: linear-gradient(180deg, #e51010, #d21515db);

    animation: animate 3s linear infinite;
  
}

.ngconfig::after {
    content: "";
    position: absolute;
    background-color: #fff;
    inset: 5px;
    border-radius: inherit;

}

.ngconfig svg {
    position: relative;
    
    width: 350px;
}