@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';
body {
  background: #eee;
  font-family: 'Lily Script One';
}

.cardLing {
  margin-top: 30px;
  width: 175px;
  height: 175px;
  perspective: 500px;
}

.contentLing {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.cardLing:hover .contentLing {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.frontLing,
.backLing {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #606161;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}
.ajusteImgJs {
  width: 140px;
  height: 140px;
  margin-top: 18px;
  margin-right: 2px;
}
.ajusteImgSql {
  width: 140px;
  height: 120px;
  margin-top: 27px;
  margin-right: 2px;
}

.backLing {
  background: #606161;
  color: white;
  transform: rotateY( 180deg );
}
.ajusteImgFigma {
  width: 120px;
  height: 150px;
  margin-top: 13px;
}
.ajusteImgBS {
  width: 160px;
    height: 150px;
    margin-top: 10px;
    margin-right: 1px;
}

@media (max-width: 425px) {
  .ajusteImg {
    width: 80px;
    height: 80px;
    margin-top: 10px;
  }
  .ajusteImgCss {
    width: 60px;
    height: 80px;
    margin-top: 10px;
  }
  .ajusteImgJs {
    width: 80px;
    height: 80px;
    margin-top: 10px;
  }
  .ajusteImgSql {
    width: 80px;
    height: 60px;
    margin-top: 19px;
    margin-right: 2px;
  }
  .ajusteImgFigma {
    width: 70px;
    height: 80px;
    margin-top: 10px;
  }

  .ajusteImgBS {
    width: 90px;
    height: 80px;
    margin-top: 10px;
  }
  .cardLing {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 1024px) {
  .ajusteImg {
    width: 80px;
    height: 80px;
    margin-top: 10px;
  }
  .ajusteImgCss {
    width: 60px;
    height: 80px;
    margin-top: 10px;
  }
  .ajusteImgJs {
    width: 80px;
    height: 80px;
    margin-top: 10px;
  }
  .ajusteImgSql {
    width: 80px;
    height: 60px;
    margin-top: 19px;
    margin-right: 2px;
  }
  .ajusteImgFigma {
    width: 70px;
    height: 80px;
    margin-top: 10px;
  }

  .ajusteImgBS {
    width: 90px;
    height: 80px;
    margin-top: 10px;
  }
  .cardLing {
    width: 100px;
    height: 100px;
  }
}